/* formulario de registro*/
body {
  background-image: url(https://i.pinimg.com/originals/7d/2a/9f/7d2a9fca264faa93561f72b5fc885fec.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: var(--color-crimson);
  border-radius: 5px;
  text-align: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: crimson;
}

form {
  width: 350px;
  padding: 30px;
  background: var(--color-crimson);
  border-radius: 8px;
}

label {
  color: rgb(20, 207, 207);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

input {
  color: aqua;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

/* lista de usuarios*/

table {
  color: white;
  background-color: var(--color-crimson);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  border-radius: 10px;
  border: 2px solid crimson;
}

/* paleta de colores */
:root {
  --color-crimson: #f10f5365;
}
