<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista</title> <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>lista de registro</h1>

    <table border="2px">
    {% for registro in registros %}
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>

        <tr>
            <td><h3>{{ registro.name }}</h3></td>
            <td><h3>{{ registro.apellido }}</h3></td>
            <td><h3>{{ registro.edad }}</h3></td>
        </tr>
    {% endfor %}
</body>
</html>